<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">

    <div class="filter-section" [formGroup]="pricing">
      <div class="label">Price</div>
      <mat-checkbox formControlName="price1">
        <span class="flexcenter">
          0-10 &nbsp;
          <mat-icon>paid</mat-icon>
        </span>
      </mat-checkbox>
      <mat-checkbox formControlName="price2">
        <span class="flexcenter">
          10-20 &nbsp;
          <mat-icon>paid</mat-icon>
        </span>
      </mat-checkbox>
      <mat-checkbox formControlName="price3">
        <span class="flexcenter">
          20-50 &nbsp;
          <mat-icon>paid</mat-icon>
        </span>
      </mat-checkbox>
      <mat-checkbox formControlName="price4">
        <span class="flexcenter">
          50-100 &nbsp;
          <mat-icon>paid</mat-icon>
        </span>
      </mat-checkbox>
      <mat-checkbox formControlName="price5">
        <span class="flexcenter">
          +100 &nbsp;
          <mat-icon>paid</mat-icon>
        </span>
      </mat-checkbox>
    </div>

    <div class="filter-section" [formGroup]="ratings">
      <div class="label">Rating</div>
      <mat-checkbox formControlName="star1">
        <mat-icon>star</mat-icon>
      </mat-checkbox>
      <mat-checkbox formControlName="star2">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
      </mat-checkbox>
      <mat-checkbox formControlName="star3">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
      </mat-checkbox>
      <mat-checkbox formControlName="star4">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
      </mat-checkbox>
      <mat-checkbox formControlName="star5">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
      </mat-checkbox>
    </div>


    <div class="filter-section">
      <mat-slide-toggle class="example-margin" [(ngModel)]="specialOffer">Special Offert</mat-slide-toggle>
    </div>


  </mat-drawer>

  <div class="example-sidenav-content">

    <mat-toolbar color="primary">
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <input class="search" matInput type="search" [(ngModel)]="search" placeholder="Search" autocomplete="off">
      <span class="example-spacer"></span>
      <button mat-icon-button>
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar>

    <div class="core-main">
      <mat-list>
        <mat-list-item *ngFor="let item of tours | searching:search | rating:minrate:maxrate | pricing:minprice:maxprice | pipespecial:specialOffer">
          <mat-icon mat-list-icon [style.color]="item.isSpecialOffer ? 'blue' : 'black'">sell</mat-icon>
          <div mat-line class="title" [innerHTML]="item.title"></div>
          <div mat-line class="infos">
            <span class="label">price:</span>
            <span class="value">{{item.price}}</span>
            <mat-icon>paid</mat-icon>
            <span class="label">rating:</span>
            <span class="value">{{item.rating}}</span>
            <mat-icon>star</mat-icon>
          </div>
        </mat-list-item>
      </mat-list>
    </div>

  </div>

</mat-drawer-container>